*{
    margin: 0;
    padding: 0;
}
html,body,#app{
    height: 100%;
}
@width: 50px;

input {
    width: @width !important;
}

.el-tabs {
    height: 100%;
    & > .el-tabs__content {
        height: calc(100% - 40px);
        & > .el-tab-pane {
            height: 100%;
            & > .layout-container {
                height: 100%;
            }
        }
    }
}